body{
    box-sizing: border-box;
    background-color: black;
    font-size: 500;
    font-weight: 600;

}

@media all and (min-width: 1001px) {
    #sidebar ul li a:after{
        content: "(" attr(data-email) ")";
        font-size: 14px;
        color: white;
    }
}

@media all and (max-width: 699px) and (min-width: 520px),(min-width: 1156px) {
    #sidebar ul li a {
        padding-left: 21px;
        /* background: url(Images/) left center no-repeat contain; */

    }
}
p, h1, h3 {
    color: white;
}

@media all and (orientation: landscape) {
    p{
        color: teal; 
    }
}

a {
    color: white;
    text-decoration: none;
}